<mat-toolbar color="primary" class="navbar">
  <mat-icon class="navbar-icon">checklist</mat-icon>
  <span class="navbar-title">Todo List</span>
  <span class="spacer"></span>
  <nav class="navbar-nav">
    <a mat-button routerLink="/todo" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span class="nav-text">Dashboard</span>
    </a>
    <a mat-button routerLink="/todo/new" routerLinkActive="active">
      <mat-icon>add</mat-icon>
      <span class="nav-text">New Todo Item</span>
    </a>
  </nav>
</mat-toolbar>
